@media screen and (max-width: 768px){
	.container {
		display: block;
	}
	.wrapper-calc {
		width: 100%;
		display: block;
	}
	.wrapper-instruction{
		display: none;
	}
	.hint {
		display: block;
	}
	.calculator {
		margin-top: 0;
		float: right;
		margin-right: 30px;
	}
}
@media screen and (max-width: 530px){
	.title {
		text-align: center;
	}
	.wrapper-calc {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.calculator {
		margin: 0;
	}
	.sidebar {
		position: static;
		width: 100%;
		display: none;
		text-align: center;
	}
	.sidebar li {
		padding-top: 5px;
		margin-top: 0;
	}
	.sidebar-active {
		display: block;
	} 
	.main-active {
		height: 150vh;
	}
}