@font-face {
	font-family: 'DS-Digital';
	src: url('../fonts/DS-Digital/DS-Digital.eot');
	src: local('../fonts/DS-Digital/DS-Digital'),
		url('../fonts/DS-Digital/DS-Digital.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DS-Digital/DS-Digital.woff') format('woff'),
		url('../fonts/DS-Digital/DS-Digital.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DS-Digital';
	src: url('../fonts/DS-Digital/DS-Digital-Bold.eot');
	src: local('../fonts/DS-Digital/DS-Digital Bold'), local('../fonts/DS-Digital/DS-Digital-Bold'),
		url('../fonts/DS-Digital/DS-Digital-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DS-Digital/DS-Digital-Bold.woff') format('woff'),
		url('../fonts/DS-Digital/DS-Digital-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
:root {
	--header-height: 50px;
	--calc-height: 340px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

header {
   width: 100%;
   height: var(--header-height);
   display: flex;
   align-items: center;
   background-color: #222222;
}

h1 {
	font-family: 'DS-Digital', sans-serif;
	font-size: 40px;
	margin: 0 auto;
	text-align: center;
	text-transform: capitalize;
	color: #00EF11;
}

.main {
	height: calc(100vh - var(--header-height));
	background-color: #00ADEB;
}

.container {
	max-width: 1040px;
	display: flex;
	justify-content: center;
	position: relative;
	margin: 0 auto;
}

.calculator {
	width: 270px;
	height: var(--calc-height);
	margin: 5%;
	border-radius: 15px;
	background: linear-gradient(90deg, #fefefe, #333333);
	box-shadow: 2px 6px 2px #222222, 4px 8px 2px #444444;
}

.value {
	width: 80%;
	display: block;
	margin: 27px auto;
	padding: 10px;
	font-family: 'DS-Digital', sans-serif;
	font-weight: bold;
	font-size: 30px;
	border-radius: 4px;		
	border: none;
	background-color: #BCC598;
	box-shadow: inset 2px 2px 10px #000;
}
.buttons {
	width: 80%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
	"ce radic modulo div"
	"seven eight nine mult"
	"four five six sub"
	"one two three add"
	"zero float equal add";
	margin: 0 auto;
} 

.radic {
	grid-area: radic;
}
.modulo {
	grid-area: modulo;
}
.division {
	grid-area: div;
}
/* NUMBERS */
.zero {
	grid-area: zero;
}
.one {
	grid-area: one;
}
.two {
	grid-area: two;
}
.three {
	grid-area: three;
}
.four {
	grid-area: four;
}
.five {
	grid-area: five;
}
.six {
	grid-area: six;
}
.seven {
	grid-area: seven;
}
.eight {
	grid-area: eight;
}
.nine {
	grid-area: nine;
}
.multiplication{
	grid-area: mult;
}
.subtraction {
	grid-area: sub;
}
.addition {
	grid-area: add;
}
.float {
	grid-area: float;
}
.equal {
	grid-area: equal;
}

.btn {
	width: 45px;
	height: 34px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333333;
	color: #fff;
	border-radius: 5px;
	margin: 4px;
	box-shadow: 1px 3px 4px #000;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.7;
}

.ce {
	grid-area: ce;
	background-color: #D37A61;
	box-shadow: 1px 1px 5px #A20404;
}

.addition {
	height: 76px;
}

